@import "color";
@import "font";

/*media queries*/

$phone : "only screen and (max-width: 768px)";

 /*slider */
$desktop : "only screen and (min-width: 992px)";

$tablet-limit : "only screen and (min-width: 768px) and (max-width: 991px)";

$tablet : "only screen and (min-width: 768px)";

ul {
  padding-left: 8px;
  list-style: none;
  #header-news-block {  
  	padding : 0 0 0 0;
  }
  li {
    line-height: 2.7em;
    list-style: none;

  }
}

div{
  .addmaincolor {
    
    &.panel-heading {
      border-radius: 0px;
      background: $main-color;
      position: relative;
    }
    & .panel-title{
      color: white;
    }

  }
}

button {
  &.make-me-round {
    position:absolute;
    right:10px;
    top:5px;

  }
}

.list-group {
	&-item {
		padding-left:26px; 
	}
}

/*for navbar animation*/
  .navbar-toggle {
  	border: none;
  	background: transparent !important;
  	&:hover {
  		background: transparent !important;
  	}
  	.icon-bar {
		width: 22px;
		transition: all 0.1s;
  	}
  	.top-bar {
  	  transform: rotate(45deg);
  	  transform-origin: 10% 10%;
  	}
  	.middle-bar {
  	  opacity: 0;
  	}
  	.bottom-bar {
  	  transform: rotate(-45deg);
  	  transform-origin: 10% 90%;
  	}
  	.collapsed .top-bar {
  	  transform: rotate(0);
  	}
  	.collapsed .middle-bar {
  	  opacity: 1;
  	}
  	.collapsed .bottom-bar {
  	  transform: rotate(0);
  	}
  }
/* about us*/
  .aboutus {
    p {
      font-size :$main-text-size;
    }
    &-img1 {
    
    }
  }


/* latest news */
 .date-grey{
     &-left {
        font-size: $date-grey-font;
        color: $date-grey-color;
        p {
          font-size: $date-grey-font-news;
          color: $date-grey-color;
        }
     }
     &-right {
        
     }
 }
 .panel {
    margin-top: 1px !important;
    &-body{
          padding: 5px !important;
       ul {
          list-style: none;
          padding-left: 0px;
          &.addicon{
            li 
            {
              &:before {
                font-family : $icon-font ;
                content: $font-content ;
              }
            }
          }

       }
    }
    &-title{
      margin-right: 25px;
    }
 }

.thumbnail {
  border: 0px !important;
  box-shadow: 0 0 !important;
  border-radius: 0 !important;
    .caption {
      padding : 0px !important;
    }
}


 h3.title-without-bar {
   color : $main-color;

 }

 h4 {
  &.newsroom {
    font-size:14px !important;
  }

 }

 iframe {
  &#content {
    width: 100%;
    border:none;
  }
 }

 .newsroom {
   &-margin{
    margin : 0 0 1.3em 1.9em;
   }
 }

.title-without-bar {
  
    h3 {

          margin-top:0 ;
          color: $main-color;
          font-family: "OpenSans","Zawgyi-one";
          text-transform: none;
          font-weight: 500;
    }

    a{
      font-size: $main-text-size;
    }
    p {
      font-size: $main-text-size;
    }

  }
 .content-block {
      &.line-bottom{
        border-bottom: $line-bottom;
        overflow: hidden;
      }
      p {
        &:last-child {      
           line-height: 1.5em;
        }
      }
 }

 .media-left, .media-right, .media-body {
    
    width: 1%;
    
}

.right {
  &.table > tbody > tr > td {
    padding: 5px;
    line-height: 1em;
  }
}


.shadow {
  &-inner {
    padding-top: 1em;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 1px $iframe;
    background: rgba(247, 241, 241, 0.41);
  }
}

/*social buttons*/

.addthis {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
}


/*position adjustment*/
   .form-horizontal {
    margin-top: 3em;
   }
   div.margin {

     &-bot {
       &-aboutus {

       }
       &-contact {
         margin-bottom: 3em;
         overflow: hidden;
         padding-right: 2em;
       }

     }
   }
  
.news-details-img1 {
  position: absolute;
  right : 0;
  top : 0;
}

img[src = "../images/ln-big01.png"] {
    margin-top: 2em;
}


.padding {
  &-top {
    padding-top: 1em;
  }
}  


.pad-top {
    padding-top: 2em;
}
.margin {
  &-bot {
    margin-bottom: 5em;
  }
  &-top {
    margin-top: 1em !important;
  }
}


.btn {
    &.contact {
      border-radius: 0px;
      background: $main-color;
      color: white;
      padding: 6px 5px 5px;
      
  }
}

 label.control-label {
       font-family: OpenSans-Bold;
    }
/*media queries*/

@media #{$phone} {
  .panel {
    &-title {
      &.mobile-font{
        font-size:14px;

      }
    }
  }
  .form {
    &-horizontal {
      padding-left: 3em;

    }
    &-group {
          margin-right: -24px !important;
    }
  }

  div.pad-top {
    margin-top: 1em;
  }


  .btn.contact{
      margin-left:104px;
  }

  div.margin-left-contact {
    margin-left: 24%;
  }
} 

@media #{$desktop} {
    .aboutus-img1 {
      margin-top: 6em;
    }
}

@media #{$tablet-limit} {
    .btn {
      &.contact{
        margin-left:76px;
      }
    }
    img.aboutus-img1 {
      margin-top: 9em; 
    }

    label.control-label {
      padding-right: 1em;
    }

}

@media #{$tablet} {

   div.margin {
     &-bot {
       &-aboutus {
         margin-bottom: 3em;
         overflow: hidden;
       }
       &-contact {
         margin-bottom: 3em;
         overflow: hidden;
       }

     }
   }

   .btn {
     &.contact{
       margin-right:1em;
     }
   }
}