@import "color";
@import "font";


 /*slider */

ul {
  padding-left: 8px;
  list-style: none;
  #header-news-block {  
  	padding : 0 0 0 0;
  }
  li {
    line-height: 2.7em;
    list-style: none;

  }
}

.list-group {
	&-item {
		padding-left:26px; 
	}
}

/*for navbar animation*/
  .navbar-toggle {
  	border: none;
  	background: transparent !important;
  	&:hover {
  		background: transparent !important;
  	}
  	.icon-bar {
		width: 22px;
		transition: all 0.1s;
  	}
  	.top-bar {
  	  transform: rotate(45deg);
  	  transform-origin: 10% 10%;
  	}
  	.middle-bar {
  	  opacity: 0;
  	}
  	.bottom-bar {
  	  transform: rotate(-45deg);
  	  transform-origin: 10% 90%;
  	}
  	.collapsed .top-bar {
  	  transform: rotate(0);
  	}
  	.collapsed .middle-bar {
  	  opacity: 1;
  	}
  	.collapsed .bottom-bar {
  	  transform: rotate(0);
  	}
  }

/* latest news */

 .date-grey-left {
    font-size: $date-grey-font;
    color: $date-grey-color;

 }

 .pannel-body{
    ul {
       list-style: none;
       padding-left: 0px;
       &.addicon{
         li 
         {
           &:before {
             font-family : $icon-font ;
             content: $font-content ;
           }
         }
       }

    }
 }
 h3.title-without-bar {
   color : green;
 }

 .content-block {
      &.line-bottom{
        border-bottom: $line-bottom;
      }
      p {
        &:last-child {      
           line-height: 1.5em;
        }
      }
 }

 .media-left, .media-right, .media-body {
    
    width: 1%;
    
}

.right {
  &.table > tbody > tr > td {
    padding: 5px;
    line-height: 1em;
  }
}

.padding {
  &-top {
    padding-top: 1em;
  }
}
.shadow {
  &-inner {
    padding-top: 1em;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 1px $iframe;
    background: rgba(247, 241, 241, 0.41);
  }
}
